
  :root{
    --cor-primaria: rgb(252,92,59)

    --font-corpo:font-family: "Zalando Sans SemiExpanded", sans-serif;
}
   <style>
   @import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: var(--fonte-corpo);
background-color: rgb(226, 234, 234);
height:100vh;

}
header{

    text-align: center;
    padding: 5rem;
    color: rgb(6, 28, 21);
}
main{


    display: grid;
    grid-template-columns:repeat(3,1fr);
    background:: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    gap:2rem;
}

section{

    background-color: antiquewhite;
    height: 552;
    width: 352;
    padding: 3REM;
    border-radius: 3rem;
}
imG{
width:21,25rem ;
height: 21,25rem;
object-fit: fill;

}

h3{
text-transform: capitalize;

}
button{

    background-color: var(--cor-primaria)
    width: 10rem;
    height: 3rem;
    border:center;
    border-radius:0,5rem
color::after

}